*{
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}


section.center-content{

}

.delete-text{
    text-decoration: line-through;
}

.list-items{
    flex-direction: column;
}

.categories{
    flex-direction: column;
}