.flex-cen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-card.flex-cen {
  flex-direction: column;
}

.output-card{
    width: 600px;
    height: 50px;
    background-color: #d6d3d3 ;
    margin: 0 auto;
}

.output-card p {
    margin-right: auto;
}

.utils-btn{
    margin-left:auto;
}

.input-slider{
    flex-direction: column ;
}

.slider{
    display: flex;
}