*{
    box-sizing: border-box;
}

.flex{
    display:flex;
}

.center{
    justify-content: center;
    align-items: center;
}

.column{
    flex-direction: column;
}


/* --------------------------------------- */

h1{
    text-align: center;
}

.image{
    /* width:300px;
    height: 300px; */
    margin: 10px 30%;
}

img{
    width: 100%;
}